body {
  margin: 0;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 2;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Allura', cursive;
  font-size: 5rem;
  color: #F17833;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #F17833;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f69314;
}

a {
  color: #f69314;
}

.top-container {
  background-color: #FFEBA0;
  color: #F17833;
  position: relative;
  padding-top: 60px;
}

.japan-img {
  height: auto;
}

.avatar {
  border-radius: 50%;
  width: 7%;
  margin-top: 30px;
}

.round-img {
  border-radius: 50%;
}

.img-coding {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.img-target {
  margin-left: 30px;
  width: 25%;
  float: right;
}

.section-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.programmer {
  font-weight: normal;
}
