body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 2;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Allura', cursive;
  font-size: 5rem;
  color: #F17833;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #F17833;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f69314;
}

a {
  color: #f69314;
}

hr {
  border:none;
  border-top: 3px dotted #FFEBA0;
  height:2px;
  width:10%;
  margin: 50px auto 50px auto;
}

.top-container {
  background-color: #FFEBA0;
  color: #F17833;
  position: relative;
  padding-top: 60px;
}

.bottom-container {
  background-color: #FFEBA0;
  color: #F17833;
  position: relative;
  padding-top: 40px;
  margin-bottom: 0;
  margin-top: 30px;
}

.japan-img {
  height: auto;
}

.avatar {
  border-radius: 50%;
  width: 7%;
  margin-top: 30px;
}

.round-img {
  border-radius: 50%;
}

.img-coding {
  margin-right: 30px;
  width: 25%;
  float: left;
}

.img-target {
  margin-left: 30px;
  width: 25%;
  float: right;
}

.section-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.programmer {
  font-weight: normal;
}

.butn {
  background: #f69314;
  background-image: -webkit-linear-gradient(top, #f69314, #F17833);
  background-image: -moz-linear-gradient(top, #f69314, #F17833);
  background-image: -ms-linear-gradient(top, #f69314, #F17833);
  background-image: -o-linear-gradient(top, #f69314, #F17833);
  background-image: linear-gradient(to bottom, #f69314, #F17833);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
}

.butn:hover {
  background: #F17833;
  text-decoration: none;
}

.copyright {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
